@import './variables.scss';
@import './mixins.scss';
@import './theme.scss';

@font-face {
  font-family: 'DIN';
  src: url('/fonts/DIN.ttf');
}

:root {
  &[theme='light'] {
    @include lightTheme();
  }
  &[theme='dark'] {
    @include darkTheme();
  }
  &[theme='system'] {
    @media (prefers-color-scheme: light) {
      @include lightTheme();
    }
    @media (prefers-color-scheme: dark) {
      @include darkTheme();
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-family: 'DIN';
  color: $text-color;
  background-color: $body-bg;
  scroll-behavior: smooth;
}

button {
  font-family: 'DIN';
}

pre,
code {
  font-family:
    Consolas,
    Liberation Mono,
    Menlo,
    monospace;
}

* {
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

a {
  color: $link-color;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: $header-bg;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: $text-disabled;
  &:hover {
    background-color: $text-color;
  }
}

// for module transition
.module-enter-active,
.module-leave-active {
  transition: opacity $transition-time ease;
}
.module-slow-enter-active,
.module-slow-leave-active {
  transition: opacity $transition-time * 2 ease;
}
.module-enter-from,
.module-leave-to,
.module-slow-enter-from,
.module-slow-leave-to {
  opacity: 0;
}
