@font-face {
  font-family: 'iconfont'; /* Project id 1492229 */
  src:
    url('//at.alicdn.com/t/c/font_1492229_yvmvg6pl0qo.woff2?t=1693569913342') format('woff2'),
    url('//at.alicdn.com/t/c/font_1492229_yvmvg6pl0qo.woff?t=1693569913342') format('woff'),
    url('//at.alicdn.com/t/c/font_1492229_yvmvg6pl0qo.ttf?t=1693569913342') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-system-theme:before {
  content: '\e947';
}

.icon-twitter:before {
  content: '\ee49';
}

.icon-website:before {
  content: '\e6f5';
}

.icon-eye:before {
  content: '\e668';
}

.icon-eye-close:before {
  content: '\ea14';
}

.icon-discord:before {
  content: '\ebf8';
}

.icon-heart-fill:before {
  content: '\e602';
}

.icon-heart:before {
  content: '\e605';
}

.icon-download:before {
  content: '\e7d9';
}

.icon-warning-line:before {
  content: '\e74c';
}

.icon-discussions:before {
  content: '\e666';
}

.icon-sun:before {
  content: '\e68b';
}

.icon-moon:before {
  content: '\e63e';
}

.icon-npm-logo:before {
  content: '\e6cc';
}

.icon-npm:before {
  content: '\e685';
}

.icon-load:before {
  content: '\e60b';
}

.icon-upload:before {
  content: '\e616';
}

.icon-law:before {
  content: '\e69d';
}

.icon-clock:before {
  content: '\e60a';
}

.icon-close:before {
  content: '\e609';
}

.icon-arrow-down:before {
  content: '\e608';
}

.icon-arrow-up:before {
  content: '\e9e5';
}

.icon-experiment:before {
  content: '\e655';
}

.icon-issue:before {
  content: '\e6c6';
}

.icon-watch:before {
  content: '\e607';
}

.icon-link-external:before {
  content: '\e604';
}

.icon-link-horizontal:before {
  content: '\e600';
}

.icon-star:before {
  content: '\e603';
}

.icon-stop:before {
  content: '\e8c1';
}

.icon-link:before {
  content: '\e9e4';
}

.icon-code:before {
  content: '\e790';
}

.icon-doc:before {
  content: '\e611';
}

.icon-fork:before {
  content: '\e6d8';
}

.icon-repo:before {
  content: '\e601';
}

.icon-play:before {
  content: '\e641';
}

.icon-pause:before {
  content: '\e63f';
}

.icon-github:before {
  content: '\e689';
}
