@font-face {
  font-family: 'iconfont'; /* Project id 1492229 */
  src:
    url('//at.alicdn.com/t/c/font_1492229_g513m5o0oc.woff2?t=1775085255466') format('woff2'),
    url('//at.alicdn.com/t/c/font_1492229_g513m5o0oc.woff?t=1775085255466') format('woff'),
    url('//at.alicdn.com/t/c/font_1492229_g513m5o0oc.ttf?t=1775085255466') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-issues:before {
  content: '\e60a';
}

.icon-star:before {
  content: '\ee3e';
}

.icon-fork:before {
  content: '\e9f5';
}

.icon-twitter-x:before {
  content: '\e61c';
}

.icon-website:before {
  content: '\e6f5';
}

.icon-eye:before {
  content: '\e668';
}

.icon-eye-close:before {
  content: '\ea14';
}

.icon-discord:before {
  content: '\ebf8';
}

.icon-heart-fill:before {
  content: '\e602';
}

.icon-heart:before {
  content: '\e605';
}

.icon-download:before {
  content: '\e7d9';
}

.icon-warning-line:before {
  content: '\e74c';
}

.icon-sun:before {
  content: '\e68b';
}

.icon-moon:before {
  content: '\e63e';
}

.icon-npm:before {
  content: '\e685';
}

.icon-law:before {
  content: '\e69d';
}

.icon-close:before {
  content: '\e609';
}

.icon-arrow-down:before {
  content: '\e608';
}

.icon-arrow-up:before {
  content: '\e9e5';
}

.icon-link-external:before {
  content: '\e604';
}

.icon-stop:before {
  content: '\e8c1';
}

.icon-link:before {
  content: '\e9e4';
}

.icon-code:before {
  content: '\e790';
}

.icon-book:before {
  content: '\e611';
}

.icon-repository:before {
  content: '\e601';
}

.icon-play:before {
  content: '\e641';
}

.icon-pause:before {
  content: '\e63f';
}

.icon-github:before {
  content: '\e689';
}
