
@import url('//at.alicdn.com/t/font_1492229_abe84519sfg.css');

@font-face {
  font-family: 'DIN-Regular';
  src: url('/fonts/DIN-Regular.ttf');
}

@font-face {
  font-family: 'SFMono-Regular';
  src: url('/fonts/SFMonoRegular.otf') format('opentype');
}

html {
  font-size: $font-size-base;
}

body {
  font-size: $font-size-base;
  font-family: 'DIN-Regular';
  background-color: $body-bg;
  color: $text-color;
}

pre, code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

* {
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

.mammon {
  width: 100%;
  height: auto;

  &.g-a {
    min-height: 6rem;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

a {
  color: $link-color;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background: $module-bg;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba($github-primary, 0.9);
  @include background-transition();

  &:hover {
    background-color: $github-primary;
  }
}

.module-enter-active, .module-leave-active {
  transition: opacity $transition-time-normal;
}
.module-enter, .module-leave-to {
  opacity: 0
}
