
$white: white;
$black: #000000;
$github-primary: #24292e;
$github-secondary: #30363c;
// $github-primary: #1a252f;
// $github-secondary: #2c3e50;

$body-bg: #e8e1da;
$module-bg: #fafbfc;

$text-color: #353535;
$link-color: #000000;
