
// colors
$white: #FFFFFF;
$black: #000000;
$github-primary: #24292e;
$github-secondary: #30363c;
$github-text-primary: #0366d6;
$github-sponsor-primary: rgb(234, 74, 170);

$body-bg: #e0e0e0;
$module-bg: $white;
$module-bg-darken: #f7f7f7;

$text-color: #353535;
$text-secondary: lighten($text-color, 20%);
$link-color: $black;
$text-reverse: $module-bg-darken;

// sizes
$container-width: 960px;
$radius: 1px;

// gaps
$golden-ratio: 0.618;
$gap: 1rem; // ~14px
$sm-gap: $gap * $golden-ratio; // ~8.6px
$xs-gap: $sm-gap / 2; // ~4.4px
$lg-gap: $sm-gap * 2; // ~17px

// times
$transition-time-fast: .15s;
$transition-time-normal: .25s;
$transition-time-slow: .38s;

// fonts
$font-size-base: 14px;
$font-size-large: $font-size-base * 1.1; // ~15.4px
$font-size-huge: $font-size-base * 1.3; // ~19px
$font-size-small: $font-size-base * .888; // ~12.4px

$iconfont-size: $font-size-base * 1.35;
