
// vue-materia theme
@import "~vue-material/dist/theme/engine";

@include md-register-theme("github", (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(red, A200),
  toolbarvariant: #24292e,
  background: #f5f5f5
));

@import "~vue-material/dist/theme/all";

*[class*=md] {
  box-shadow: none!important;
}

.md-button+.md-button {
  margin: 5px 10px;
}

.md-toolbar,
.md-toolbar-row {
  min-height: 60px;
}

.md-button-content {
  font-weight: bold;
}
